
[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=network.target

[Service]
Type=forking
EnvironmentFile=/home/pi/env
ExecStartPre=/bin/sh -c 'if [ $INTERFACE_OUT != "wlan0" ] && [ $INTERFACE_OUT != "wlan1" ]; then exit -1; fi'
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd.pid /etc/hostapd/hostapd.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target