[Unit]
Description=Lightweight RPC server
StartLimitIntervalSec=0
After=redis-server.service rabbitmq-server.service nodogsplash.service

[Service]
Type=forking
PIDFile=/run/nameko.pid
User=root
WorkingDirectory=/home/pi/Way-Connect_Box/middleware
EnvironmentFile=/home/pi/env
ExecStartPre=/bin/systemctl is-active redis-server 
ExecStartPre=/bin/systemctl is-active rabbitmq-server
ExecStartPre=/bin/systemctl is-active nodogsplash
ExecStart=/sbin/start-stop-daemon \
          --start \
          --background \
          --make-pidfile \
          --pidfile /run/nameko.pid \
          --exec /usr/local/bin/nameko \
          -- run --config /home/pi/Way-Connect_Box/middleware/nameko.yaml ndsctl
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
