[Unit]
Description=NoDogSplash Captive Portal
After=network.target nginx.service

[Service]
Type=forking
ExecStart=/usr/bin/nodogsplash -d 5 $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
