[Unit]
Description=NoDogSplash Captive Portal
After=network.target nginx.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/nodogsplash -d 5 $OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
