[Unit]
Description=NoDogSplash Captive Portal
After=nginx.service
StartLimitIntervalSec=0

[Service]
Type=forking
PIDFile=/run/nodogsplash.pid
ExecStartPre=/bin/systemctl is-active nginx
ExecStart=/sbin/start-stop-daemon \
          --start \
          --make-pidfile \
          --pidfile /run/nodogsplash.pid \
          --exec /usr/bin/nodogsplash \
          -- -d 5 $OPTIONS
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
